@scope (.tags) {
  & {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing-base) + 2px);
    margin-block-end: var(--spacing-base);
  }

  .tag {
    align-items: center;
    background-color: var(--light-200);
    color: var(--dark-600);
    display: flex;
    font-size: var(--text-xs);
    font-weight: var(--text-weight-medium);
    height: calc(1rem - 2px);
    inset: 0.5px auto auto 1px;
    justify-content: center;
    position: relative;
    width: var(--tag-width);

    &.tag-xs {
      --tag-width: calc(3rem - 2px);
    }

    &.tag-sm {
      --tag-width: calc(3rem - 2px);
    }

    &.tag-md {
      --tag-width: calc(4rem - 2px);
    }

    &.tag-lg {
      --tag-width: calc(5rem - 2px);
    }
  }
}