@scope (.nav) {
  :scope {
    background-color: var(--nav-background, var(--light-100));
    display: var(--nav-display, grid);
    gap: var(--spacing-base);
    grid-auto-flow: var(--nav-auto-flow, row);
    grid-column: nav;
    grid-row: full;
    margin: 0 0 0 auto;
    max-width: max-content;
    padding: var(--nav-padding, var(--spacing-md));
    position-anchor: var(--nav-position-anchor, --buttonToggle);
    position: var(--nav-position, absolute);
    right: var(--nav-right, anchor(right));
    top: var(--nav-top, anchor(bottom));
    z-index: 1;

    @media screen and (width >= 1480px) {
      --nav-auto-flow: column;
      --nav-background: transparent;
      --nav-display: grid;
      --nav-padding: var(--spacing-base);
      --nav-position-anchor: unset;
      --nav-position: static;
      --nav-right: unset;
      --nav-top: unset;
    }
  }
}
