@scope (.link-list) {
  :scope {
    display: grid;
    grid-column: span 2;
    row-gap: var(--spacing-md);
  }

  .link-list-heading:first-child h4 {
    padding: calc(1rem - 1cap);
    position: relative;
    right: 2px;
  }

  .link-list-items {
    column-gap: var(--spacing-md);
    display: grid;
    display: grid;
    flex-direction: column;
    grid-column: span 1;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    row-gap: var(--spacing-base);

    @media screen and (width >= 1480px) {
      grid-template-columns: 9rem 1fr;
      grid-column: span 2;
    }

    li {
      display: flex;
    }
  }

  .link-list-item {
    color: var(--light-300);
    display: inline-block;
    font-size: var(--text-sm);
    outline-offset: 0.25rem;
    padding-block-start: calc(calc(1rem - 0.5px) - 1cap);
    padding-bottom: var(--spacing-base);
    text-decoration-color: var(--light-500);
    text-decoration: underline 0.1em var(--primary-500);
    text-underline-offset: calc(var(--spacing-base) - 0.1em);
    transition: all 0.2s ease-in-out;
    line-height: 2;

    &:hover {
      color: var(--primary-100);
      text-decoration: underline;
    }
  }
}
