[popover] {
  --translate-distance: 10rem;
  --opacity: 0;

  border: none;
  margin: 0;
  opacity: var(--opacity);
  padding: 0;
  translate: var(--translate-distance);
  transition:
    display var(--popover-timing, 0.3s) allow-discrete,
    opacity var(--popover-timing, 0.3s)
      var(--popover-ease, cubic-bezier(0.68, -0.55, 0.27, 1.55)),
    overlay var(--popover-timing, 0.3s) allow-discrete,
    translate var(--popover-timing, 0.3s)
      var(--popover-ease, cubic-bezier(0.68, -0.55, 0.27, 1.55));
  will-change: opacity, translate;

  &:popover-open {
    --opacity: 1;
    --translate-distance: 0;

    @starting-style {
      --opacity: 0;
      --translate-distance: 10rem;
    }
  }

  &::backdrop {
    background-color: transparent;
    transition:
      background-color var(--backdrop-timing, 0.3s),
      display var(--backdrop-timing, 0.3s) allow-discrete,
      overlay var(--backdrop-timing, 0.3s) allow-discrete;
  }

  &:popover-open::backdrop {
    background-color: var(--popover-backdrop-background, rgba(0, 0, 0, 0.4));
  }
}

/* Nesting (&) is not supported for pseudo-elements
so must be a standalone starting-style block. */
@starting-style {
  [popover]:popover-open::backdrop {
    background-color: transparent;
  }
}
