@scope (.typography) {
  &.dark {
    color: var(--dark-200);
  }

  &.charcoal {
    color: var(--dark-500);
  }

  &.light {
    color: var(--light-200);
  }

  &.dimmed {
    color: var(--light-300);
  }

  &.text-xs {
    font: var(--text-weight-regular) var(--font-xs);
    font-variation-settings: "opsz" var(--font-opsz-text);
    margin-block: 0 var(--spacing-base);
    padding-block-start: calc(1rem - 1cap);
    text-wrap: pretty;
  }

  &.text-sm {
    font: var(--text-weight-regular) var(--font-sm);
    font-variation-settings: "opsz" var(--font-opsz-text);
    margin-block: 0 var(--spacing-md);
    padding-block-start: calc(1rem - 1cap);
    text-wrap: pretty;
  }

  &.text-base {
    font: var(--text-weight-regular) var(--font-base);
    font-variation-settings: "opsz" var(--font-opsz-text);
    margin-block: 0 var(--spacing-md);
    padding-block-start: calc(1rem - 1cap);
    text-wrap: pretty;
    max-width: 60ch;
  }

  &.text-md {
    font: var(--text-weight-regular) var(--font-md);
    font-variation-settings: "opsz" var(--font-opsz-heading);
    margin-block: 0 var(--spacing-md);
    padding-block-start: calc(2rem - 1cap);
    text-wrap: pretty;
  }

  &.text-lg {
    font: var(--text-weight-regular) var(--font-lg);
    font-variation-settings: "opsz" var(--font-opsz-heading);
    margin-block: 0 var(--spacing-md);
    padding-block-start: calc(2rem - 1cap);
    text-wrap: balance;
  }

  &.text-xl {
    font: var(--text-weight-semibold) var(--font-xl);
    font-variation-settings: "opsz" var(--font-opsz-heading);
    margin-block: 0 var(--spacing-md);
    padding-block-start: calc(2rem - 1cap);
    text-wrap: balance;
  }

  &.text-xxl {
    font: var(--text-weight-regular) var(--font-xxl);
    font-variation-settings: "opsz" var(--font-opsz-heading);
    margin-block: 0 var(--spacing-xl);
    padding-block-start: calc(2rem - 1cap);
    text-wrap: balance;
  }

  &.text-2xl {
    font: var(--text-weight-regular) var(--font-2xl);
    font-variation-settings: "opsz" var(--font-opsz-heading);
    margin-block: 0 var(--spacing-xl);
    padding-block-start: calc(2rem - 1cap);
    text-wrap: balance;
  }

  &.text-3xl {
    font: var(--text-weight-regular) var(--font-3xl);
    font-variation-settings: "opsz" var(--font-opsz-display);
    margin-block: 0 var(--spacing-xl);
    padding-block-start: calc(3rem - 1cap);
    text-wrap: balance;
  }

  &.text-4xl {
    font: var(--text-weight-regular) var(--font-4xl);
    font-variation-settings: "opsz" var(--font-opsz-display);
    margin-block: 0 var(--spacing-xl);
    padding-block-start: calc(3rem - 1cap);
    text-wrap: balance;
  }

  &.text-5xl {
    font: var(--text-weight-regular) var(--font-5xl);
    font-variation-settings: "opsz" var(--font-opsz-display);
    margin-block: 0 var(--spacing-xxl);
    padding-block-start: calc(4rem - 1cap);
    text-wrap: balance;
  }

  &.text-6xl {
    font: var(--text-weight-regular) var(--font-6xl);
    font-variation-settings: "opsz" var(--font-opsz-display);
    margin-block: 0 var(--spacing-xxl);
    padding-block-start: calc(4rem - 1cap);
    text-wrap: balance;
  }

  &.text-7xl {
    font: var(--text-weight-regular) var(--font-7xl);
    font-variation-settings: "opsz" var(--font-opsz-display);
    margin-block: 0 var(--spacing-xxl);
    padding-block-start: calc(5rem - 1cap);
    text-wrap: balance;
  }

  &.text-8xl {
    font: var(--text-weight-regular) var(--font-8xl);
    font-variation-settings: "opsz" var(--font-opsz-display);
    margin-block: 0 var(--spacing-xxl);
    padding-block-start: calc(6rem - 1cap);
    text-wrap: balance;
  }

  &.text-9xl {
    font: var(--text-weight-regular) var(--font-9xl);
    font-variation-settings: "opsz" var(--font-opsz-display);
    margin-block: 0 var(--spacing-xxl);
    padding-block-start: calc(7rem - 1cap);
    text-wrap: balance;
  }

  &.hero {
    font: var(--text-weight-black) var(--font-3xl);
    font-variation-settings:
      "slnt" var(--font-slnt-italic),
      "opsz" var(--font-opsz-display);
    margin-block: 0 var(--spacing-md);
    padding-block-start: calc(2rem - 1cap);
    position: relative;
    right: 0.1ch;
    text-wrap: balance;
  }

  /* Font variation utility classes */
  &.style-italic {
    font-variation-settings: "slnt" var(--font-slnt-italic);
  }

  &.style-normal {
    font-variation-settings: "slnt" var(--font-slnt-normal);
  }

  /* Weight classes using font-weight (keeps existing behavior) */
  &.weight-thin {
    font-weight: var(--text-weight-thin);
  }

  &.weight-light {
    font-weight: var(--text-weight-light);
  }

  &.weight-regular {
    font-weight: var(--text-weight-regular);
  }

  &.weight-medium {
    font-weight: var(--text-weight-medium);
  }

  &.weight-semibold {
    font-weight: var(--text-weight-semibold);
  }

  &.weight-bold {
    font-weight: var(--text-weight-bold);
  }

  &.weight-black {
    font-weight: var(--text-weight-black);
  }

  /* Combined italic + optical size overrides */
  &.text-xs.style-italic,
  &.text-sm.style-italic,
  &.text-base.style-italic {
    font-variation-settings:
      "slnt" var(--font-slnt-italic),
      "opsz" var(--font-opsz-text);
  }

  &.text-md.style-italic,
  &.text-lg.style-italic,
  &.text-xl.style-italic,
  &.text-xxl.style-italic,
  &.text-2xl.style-italic {
    font-variation-settings:
      "slnt" var(--font-slnt-italic),
      "opsz" var(--font-opsz-heading);
  }

  &.text-3xl.style-italic,
  &.text-4xl.style-italic,
  &.text-5xl.style-italic,
  &.text-6xl.style-italic,
  &.text-7xl.style-italic,
  &.text-8xl.style-italic,
  &.text-9xl.style-italic {
    font-variation-settings:
      "slnt" var(--font-slnt-italic),
      "opsz" var(--font-opsz-display);
  }

  &.margin-none {
    margin: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}
