icon-hamburger {
  --bg: linear-gradient(
    to bottom,
    transparent 0 calc(50% - var(--line)),
    currentColor calc(50% - var(--line)) calc(50% + var(--line)),
    transparent calc(50% + var(--line)) 100%
  );
  --after-bottom: 0;
  --after-rotate: 0deg;
  --after-y: 0;
  --before-rotate: 0deg;
  --before-top: 0;
  --before-y: 0;
  --hamburger-bg: var(--bg);
  --line: 0.2rem;
  --transition: translate 0.2s ease, rotate 0.2s ease, bottom 0.2s ease;

  aspect-ratio: 1;
  background: var(--hamburger-bg);
  display: block;
  position: relative;
  transition: background 0.2s ease;
  width: var(--spacing-md);

  &::before,
  &::after {
    background: currentColor;
    bottom: var(--bottom, auto);
    content: "";
    display: block;
    height: calc(var(--line) * 2);
    position: absolute;
    rotate: var(--rotate, 0deg);
    top: var(--top, auto);
    transform-origin: center;
    transition: var(--transition);
    translate: 0 var(--y, 0);
    width: stretch;
  }

  &::before {
    --rotate: var(--before-rotate);
    --top: var(--before-top);
    --y: var(--before-y);
  }

  &::after {
    --bottom: var(--after-bottom);
    --rotate: var(--after-rotate);
    --y: var(--after-y);
  }

  /* Active state when popover is open */
  &.is-active {
    --after-bottom: calc(50% - var(--line));
    --after-rotate: -45deg;
    --after-y: calc(-var(--spacing-md) / 2 + var(--line));
    --before-rotate: 45deg;
    --before-y: calc(var(--spacing-md) / 2 - var(--line));
    --hamburger-bg: transparent;
  }
}
