.link-simple {
  color: var(--primary-600);
  display: inline-block;
  outline-offset: 0.25rem;
  padding-block-start: calc(1rem - 1cap);
  padding-bottom: 1rem;
  text-decoration: underline 0.1em var(--secondary-500);
  text-underline-offset: calc(var(--spacing-base) - 0.1em);
  transition: all 0.2s ease-in-out;
  width: max-content;
  justify-self: flex-end;
  margin: auto auto 0 0;

  &:focus {
    color: var(--color-primary);
  }
}
