@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(root),
  ::view-transition-new(root),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: fade-in 150ms ease-in-out both !important;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-out-to-top {
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
}

html:active-view-transition-type(post-to-post) {
  :root {
    view-transition-name: none;
  }

  box-grid:nth-of-type(3) {
    view-transition-name: box-grid-blog;
  }

  &::view-transition-image-pair(box-grid-blog) {
    animation-duration: 300ms;
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform, opacity;
  }

  &::view-transition-old(box-grid-blog) {
    animation-name: slide-out-to-top;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  &::view-transition-new(box-grid-blog) {
    animation-name: slide-in-from-bottom;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
