@scope (.page-not-found) {
  .page-not-found {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .links-available {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    margin: 0;

    a {
      padding-block-start: calc(2rem - 1cap);
      display: flex;
      text-underline-offset: 0.4em;
    }
  }
}
