@property --layout-columns-xs {
  syntax: "*";
  inherits: false;
  initial-value: [full-start] minmax(0, 1fr) [breakout-start] 0 [content-start]
    repeat(1, 21rem) [content-end] 0 [breakout-end] minmax(0, 1fr) [full-end];
}

@property --layout-columns-sm {
  syntax: "*";
  inherits: false;
  initial-value: [full-start] minmax(0, 1fr) [breakout-start] 0 [content-start]
    repeat(2, 12rem) [content-end] 0 [breakout-end] minmax(0, 1fr) [full-end];
}

@property --layout-columns-md {
  syntax: "*";
  inherits: false;
  initial-value: [full-start] minmax(0, 1fr) [breakout-start] 0 [content-start]
    repeat(4, 10rem) [content-end] 0 [breakout-end] minmax(0, 1fr) [full-end];
}

@property --layout-columns-lg {
  syntax: "*";
  inherits: false;
  initial-value: [full-start] minmax(0, 1fr) [breakout-start] 0 [content-start]
    repeat(4, 15rem) [content-end] 0 [breakout-end] minmax(0, 1fr) [full-end];
}

@property --layout-columns-xl {
  syntax: "*";
  inherits: false;
  initial-value: [full-start] minmax(0, 1fr) [breakout-start] 0 [content-start]
    repeat(6, 10rem) [content-end] 0 [breakout-end] minmax(0, 1fr) [full-end];
}

page-layout {
  background-image: var(--grid-centered-pattern), var(--grain-uri);
  background-position: top center;
  background-size: var(--grid-centered-bg-size);
  display: grid;
  grid-template-columns: var(--layout-columns-xs);
  grid-template-rows: [header] min-content [main] 1fr [double-col] 0 [footer] min-content;
  min-height: 100dvh;
  overflow: clip;
  row-gap: var(--spacing-base);

  @media screen and (width >= 480px) {
    column-gap: var(--spacing-base);
    grid-template-columns: var(--layout-columns-sm);
    row-gap: var(--spacing-xl);
  }

  @media screen and (width >= 768px) {
    grid-template-columns: var(--layout-columns-md);
  }

  @media screen and (width >= 1280px) {
    grid-template-columns: var(--layout-columns-lg);
  }

  @media screen and (width >= 1480px) {
    grid-template-columns: var(--layout-columns-xl);
  }
}
