@scope (.footer) {
  &:scope {
    --grid-vertical-color: oklch(from var(--light-200) l c h / 0.08);
    --grid-horizontal-color: oklch(from var(--light-200) l c h / 0.08);

    background: paint(grid) var(--secondary-700);
    display: grid;
    grid-area: footer / full;
    grid-auto-columns: auto;
    grid-auto-flow: row dense;
    grid-template-columns: subgrid;
    padding-block: var(--spacing-xl);
    row-gap: var(--spacing-xxl);
    view-transition-name: footer;

    background-color: var(--secondary-700);
    background-image: var(--grid-light-pattern);
    background-size: var(--grid-light-bg-size);
    background-position: var(--grid-light-bg-position);
  }

  .footer-content {
    background-image: var(--crosshatch-white-pattern);
    background-size: var(--box-hero-grid-size) var(--box-hero-grid-size);
    display: grid;
    grid-column: breakout;
    grid-template-columns: [nav-start logo-start] 1fr [nav-end logo-end];
    padding-block: var(--spacing-lg);
    row-gap: var(--spacing-lg);
    height: var(--round-up);

    logo-main {
      padding: 1rem;
    }

    @media screen and (width >= 1480px) {
      align-items: start;
      grid-template-columns: subgrid [] [logo-start] [] [logo-end nav-start] [] [] [] [nav-end];
      grid-template-rows: [full-start] min-content [full-end];
      column-gap: 3rem;
    }
  }

  .footer-nav {
    display: grid;
    grid-column: nav;
    grid-template-columns: repeat(auto-fit, 10rem);
    row-gap: var(--spacing-md);
    margin-inline: 2rem 0;

    @media screen and (width >= 1480px) {
      grid-template-columns: subgrid;
      margin-inline: unset;
    }
  }

  .copyright {
    grid-column: 3 / -3;
    justify-self: center;
    max-width: max-content;
    text-align: center;
  }
}
