@scope {
  & {
    --even-odd: even;
    --grid-horizontal-color: rgba(180, 180, 180, 0.5);
    --grid-offset: centre;
    --grid-vertical-color: rgba(200, 200, 200, 0.5);
    --root-grid-size: 16px;

    background-color: var(--light-100);
    background-image: paint(grid);
    display: grid;
    gap: var(--spacing-md);
    grid-column: 1 / -1;
    grid-row: span 3;
    padding: var(--spacing-lg);
  }
}
