@scope (nav-item) {
  & {
    grid-column: var(--grid-column, auto);
  }

  a {
    --background-colour: var(--secondary-700);
    --colour: var(--light-100);
    --transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    align-items: center;
    background-color: var(--background-colour);
    color: var(--colour);
    display: flex;
    font-size: var(--text-base);
    gap: var(--spacing-base);
    justify-content: center;
    min-height: var(--spacing-md);
    padding: var(--padding, 0 var(--spacing-md));
    text-align: center;
    text-decoration: none;
    transition: var(--transition);

    @media screen and (width >= 1480px) {
      --padding: 0;
    }

    span:has(svg) {
      --size: 1.05rem;

      display: inline-flex;

      svg {
        max-width: var(--size);
        max-height: var(--size);
      }
    }

    &.active {
      --background-colour: var(--secondary-900);
      --colour: var(--primary-300);
    }

    &:hover {
      --background-colour: var(--secondary-800);
      --colour: var(--light-100);
    }
  }
}
