@scope (nav-item) {
  .nav-item {
    --background-colour: var(--secondary-700);
    --colour: var(--light-100);
    --transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    align-items: center;
    background-color: var(--background-colour);
    color: var(--colour);
    display: flex;
    font-size: var(--text-base);
    text-align: center;
    text-decoration: none;
    transition: var(--transition);
    min-width: 7rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: var(--padding, 1rem 2rem);

    @media screen and (width >= 1480px) {
      --padding: 0;
    }

    svg {
      height: 1.1rem;
      width: 1.1rem;
    }

    &.active {
      --background-colour: var(--secondary-900);
      --colour: var(--primary-300);
    }

    &:hover {
      --background-colour: var(--secondary-800);
      --colour: var(--light-100);
    }
  }
}
