@scope (main) {
  & {
    row-gap: var(--spacing-base);
  }

  .filters-with-output {
    display: grid;
    grid-auto-rows: min-content;
    grid-column: content;
    grid-template-columns: subgrid;
    row-gap: var(--spacing-lg);

    > box-grid {
      --column-gap: var(--spacing-md);
      --columns: repeat(auto-fit, minmax(5rem, 12rem));
      --row-gap: var(--spacing-base);

      @media screen and (width >= 480px) {
        --direction: row;
        --row-gap: 0;
      }
    }
  }

  .grid-cards {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content;
    row-gap: var(--spacing-md);

    box-grid {
      --grid-offset: left;

      @media screen and (width >= 1480px) {
        --grid-column: span 3;
      }
    }
  }
}
