@scope (code-block) {
  & {
    margin-block: var(--spacing-base) var(--spacing-md);
    width: 100%;
    overflow: hidden;
  }

  pre {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #2b3248;
    color: white;
    margin: 0;
    padding: var(--spacing-lg);
    width: 100%;
    max-width: 100%;
  }

  code {
    background-color: transparent;
    display: block;
    font-family: var(--font-monaspace);
    /* font-palette: --github; */
    font-size: var(--text-base);
    line-height: 1.722;
    min-width: 38rem;
    padding: 0;
    white-space: pre;
  }
}
