@scope (.hero-page) {
  & {
    --width: 36rem;
    --template: [content] max-content [image] 1fr / [image content] 1fr;

    display: grid;
    gap: var(--spacing-md);
    grid-template: var(--template);

    @media screen and (width >= 1280px) {
      --template: [image content] 1fr / [content] 1fr [image] var(--width);
    }
  }

  .content {
    grid-area: content;
  }

  .tags {
    margin-block-end: var(--spacing-md);
  }

  .figure {
    border: 1px solid rgb(from var(--light-400) r g b / 0.1);
    display: flex;
    grid-area: image;
    height: var(--height, 10rem);
    inset: 0.5px 0.5px auto auto;
    margin: 0;
    max-height: 22rem;
    overflow: hidden;
    position: relative;
    width: min(var(--width), 100%);

    @media screen and (width >= 768px) {
      --height: 364px;
    }
  }

  .image {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: top left;
    width: 100%;
  }
}
