@scope (box-grid) {
  .meta {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    justify-content: space-between;
    margin-bottom: var(--spacing-base);
  }

  .title-link {
    color: inherit;
    text-decoration: none;
  }
}
