@scope (.card-with-image) {
  & {
    display: grid;
    gap: var(--spacing-base);
    grid-column: var(--column-span, 1 / -1);
    grid-template-columns: [all] 1fr;
    grid-template-rows: [image] 1fr [content] max-content;
    height: 18rem;
    padding: var(--spacing-base);

    @media screen and (width >= 1280px) {
      --column-span: span 2;
    }

    @media screen and (width >= 1480px) {
      --column-span: span 3;
    }
  }

  .figure {
    border: 1px solid rgb(from var(--light-400) r g b / 0.1);
    display: flex;
    grid-area: image / all;
    inset: 0.5px 0.5px auto auto;
    margin: 0;
    overflow: hidden;
    position: relative;
  }

  .image {
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }

  .content {
    grid-area: content / all;
  }

  .heading-link {
    color: inherit;
    text-decoration: none;
  }
}
